#welcome-section {
  background-color: lightblue;
  height: 20vh;
  text-align: center;
}
#desc {
  color: DarkSlateGrey
}
.projects {
  background-color: SandyBrown;
  height: 500px;
  text-align: center;
}
.bottom {
  background-color: Darkcyan;
  height: 250px;
  padding: 5px;
  text-align: center;

}
footer {
  background-color: Olivedrab;
  height: 100px
}
#navbar {
  position: fixed;
  top: 10;
  right: 10
}
@media (min-width: 500px) {
  
}
