#welcome-section {
  background-color: lightblue;
  height: 20vh;
  text-align: center;
}
#desc {
  color: DarkSlateGrey
}
.project-images {
  margin: 0;
  width: 100%;
  max-width: 50px;
  height: 30px;
}
.bottom {
  background-color: Darkcyan;
  width: 500;
  height: 500px;
  padding: 100px;
  text-align: center;

}
footer {
  background-color: Olivedrab;
  height: 100px
}
body {
  margin: 0;
}
@media (min-width: 500px) {
  
}
