#welcome-section {
  background-color: lightblue;
  height: 20vh;
  text-align: center;
}
#desc {
  color: DarkSlateGrey
}
.project-images {
  width: 100%;
  max-width: 50px;
  height: 30px;
}
.bottom {
  background-color: Darkcyan;
  height: 50px;
  padding: 5px;
  text-align: center;

}
footer {
  background-color: Olivedrab;
  height: 100px
}
#navbar {
  position: fixed;
  top: 10;
  right: 10
}
@media (min-width: 500px) {
  
}
